$blue:#9FBFBF;
$blue2: $blue - 100;
$margin: 50px;
$div-width: 100px;
$font-standard:12px;

@mixin border-radius($radius: 20px, $color: green){
  border-radius: $radius;
  background-color: $color;
}

$default-home: (
margin: 25px,
background-color: black,
border: 1px solid yellow,
color: yellow,
width: 100px,
height: 100px
);

$default-away: (
margin: 25px,
background-color: white,
border: 1px solid black,
color: yellow,
width: 100px,
height: 100px
);

@mixin auto-config($style:"home", $config: $default-home){
  @if $style == "home" {
    $config: $default-home
  }@else{
    $config: $default-away
  }

  margin: map-get($config, margin);
  background-color: map-get($config, background-color);
  border: map-get($config, border);
  color: map-get($config, color);

}


body{
  background-color: white;
}

h1{
  color:$blue;
}



.middle{
  background-color: $blue2;
  @include border-radius(50px, pink);
  @include auto-config("home");


  h2{
    color: $blue + 50;

    span{
      color: $blue2 - 100;
    }

  }
}

.top{
  @extend .middle;

}

.bottom{
  @extend .middle;
}
