$blue:#9FBFBF;
$blue2: $blue - 100;
$margin: 50px;
$div-width: 100px;
$font-standard:12px;

@mixin border-radius($radius: 20px, $color: green){
  border-radius: $radius;
  background-color: $color;
}

$default-home: (
margin: 25px,
background-color: black,
border: 1px solid yellow,
color: yellow
);

$default-away: (
margin: 40px,
background-color: white,
border: 1px solid black,
color: yellow
);


///////////////////////////////////
body{
  background-color: white;
}

h1{
  color:$blue;
}



.middle{
  background-color: $blue2;
  @include border-radius(50px, pink);

  margin: $margin + 100;
  width: $div-width;
  height: $div-width;
  font-size: $font-standard + 4;

  h2{
    color: $blue + 50;

    span{
      color: $blue2 - 100;
    }

  }
}

.top{
  @extend .middle;
  margin: map-get($default-home, margin);
  background-color: map-get($default-home, background-color);
  border: map-get($default-home, border);
  color: map-get($default-home, color);
}

.bottom{
  @extend .middle;
}
