$blue:#9FBFBF;
$blue2: $blue - 100;
$margin: 50px;
$div-width: 100px;
$font-standard:12px;

@mixin border-radius($radius: 20px, $color: green){
  border-radius: $radius;
  background-color: $color;
}

body{
  background-color: black;
}

h1{
  color:$blue;
}

.middle{
  background-color: $blue2;
  @include border-radius(50px, pink);

  margin: $margin + 100;
  width: $div-width;
  height: $div-width;
  font-size: $font-standard + 4;

  h2{
    color: $blue + 50;

    span{
      color: $blue2 - 100;
    }

  }
}

.bottom{
  @extend .middle;
}
